
<!-- div 1 -->
<div> 
  <h1>Kenneth Cabrera</h1>
  <img src = "https://occ-0-1068-92.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABYQp33Z3D9uGJK0IZsYfvENQpSz4zoSrjb8v5CCl4UTiFDe7Z_yovhieDFhJtGm2Rh4LoleJfHwHdyRDMtezwqojkDXH.jpg?r=77f"/> 
</div>

<!-- div 2 -->
<div>
  <!-- form title -->
      <h1 class="center">Add New Blog</h1>
      <!-- form goes here -->
      <form [formGroup]="form" (ngSubmit)="onSubmit()" id="form">
        <div class="form-group">
          <label for="exampleInputPassword1">Title</label>
          <input type="text" class="form-control" formControlName="title" name="title">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Content</label>
          <textarea type="text" class="form-control" formControlName="content" name="content"> </textarea>
        </div>
        <button type="submit" class="btn btn-primary"> Submit </button>
      </form>
      <!-- ng for goes here -->
      <!-- this is your list of blogs being printed it updates because of two way data binding -->
      <div *ngFor="let blog of blogs">
        <h1>{{blog.title}}</h1>
        <p>{{blog.content}}</p>
      </div>
</div>



